<header class="flex text-name-first m-4 container mx-auto px-2">
    <h1 class="font-serif text-3xl flex-grow leading-normal">
        <a href="/">
            {{site.first_name}} <span class="font-bold text-name-last">{{site.last_name}}</span>
        </a>
    </h1>

    <ul class="flex flex-none self-center">
        <li class="flex-1 ml-2">
            <a class="nav-link" href="#" id="theme-toggle">
                <i class="light-switch" data-feather="sun"></i>
                <i class="dark-switch" data-feather="moon"></i>
            </a>
        </li>
    </ul>
</header>