<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <title>{{site.first_name}} {{site.last_name}}{% if page.title %} - {{ page.title }}{% endif %}</title>

        <link href="/assets/css/site.css" rel="stylesheet">
    </head>
    <body class="hidden content-wrapper theme-light bg-background-primary font-sans mb-20">
      {% include header.html %}

        <div class="container px-2 mx-auto">
          {{ content }}
        </div>

        <i class="text-copy-muted mx-auto text-sm mt-10" data-feather="activity"></i>
    </body>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="/assets/js/main.js"></script>
</html>
